{% extends "layout.jinja2" %}

{% block content %}
<body>
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">PokeStat</h1>
  <p class="subtitle">Compare your Pokemon Stats</p>
  <a href="/dashapppkmn/" class="dash-link">
    <span>PokeStat</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">Explore Fortnite Stats</h1>
  <p class="subtitle">Take a look to Data of many players Sober or High</p>
  <a href="/fortnite/" class="dash-link">
    <span>Fortnite 80 Players Stats</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">Explore Rocket League Grafana Visualisations</h1>
  <p class="subtitle">Take a look to results </p>
  <a href="/rocket/" class="dash-link">
    <span>Rocket League</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
</body>
{% endblock %}
